.block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    margin-left: 9%;
    margin-right: 9%;
}
@media screen and (max-width:768px){
    .block{
        display: block;
        width: 90vw;
    }
}