.card_txt{
    
    margin-left: 9%;
    margin-right: 8%;
}
.title{
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    color: #00b39b;
}
.txt{
    text-align: center;
    
    color: #747474;
    margin-left: 16%;
    margin-right: 16%;
}