.sect2{
    display: flex;
    margin-left: 9%;
    margin-right: 8%;
    justify-content: center;
  }
  .liste a{
    fill: #c5c5c5;
    font-size: 50%;
    margin-right: 7%;
  }
  .liste{
      margin-right: 2%;
      margin-top: 2%;
      width: 73%;
      text-align: start;
  }
.titl{
    /* width: 25%; */
    color: #00b39b;
    text-align: start;
  }
  @media screen and (max-width:768px){
    .sect2{
      display: block;
     
    }
    .titl{
      width: 90vw;
      
      text-align: center;
    }
    .liste{
      width: 90vw;
      text-align: center;
  }
}